body {
    padding-bottom: 60px;
    background-color: #ffffff;
}

#Title {
    text-align: center;
    font-family: "IBM Plex Mono";
    font-size: 64px;
}

#Hero {
    font-family: "IBM Plex Mono", monospace;
    text-align: center;
    margin-inline: 250px;
    font-size: 24px; 

}

#Hero p {
    font-size: 20px;
    white-space: nowrap;
}

#Hero button {
    background-color: #ADADAD;
    border: none;
    border-radius: 15px;
    padding: 8px 16px;
    font-family: inherit;
    cursor: pointer;
}

#Hero button:hover {
    background-color: #999;
}

#Separator,#Separator2{
    display: flex;
    align-items: center;      /* vertically centers them */
    justify-content: center;  /* centers both items horizontally */
    gap: 30px;
}

##Hide{
    background-color: #000000;
    justify-items: center;
    justify-content: center;
    display: inline-block;
}



hr {
    border: none;
    height: 2px;
    background-color: #ADADAD;
    width: 80%;
    margin: 20px auto;
}

.Table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 30px 20px;
}

.P1,.P2,.P3 {
    display: inline-block;
    background-color: #ADADAD;
    font-weight: 300;
    border-radius: 10px;
    padding: 0px 15px;
    margin-right: 50px;
}

.Table,Tablev2 input {
    background-color: #000000;
    border: none;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    width: auto;
    background-color: transparent;
    outline: none;
    padding: 0px 10px;
}

.Table input[type="number"]::-webkit-inner-spin-button,
.Table input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}

.Table input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.Input{
    background-color: #F2F2F2;
    border-radius: 10px;
}

.Result{
    background-color: #ADADAD;
    border-radius: 10px;
    padding: 0px 10px;
    text-align: center;
}

.Inputv2{
    display: inline-block;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 0px 10px;
    margin-left: 50px;
}

#OutputBottom{
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 25px;
    background-color: #F2F2F2;
    box-shadow: #000000;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 8px 15px;
}

.FinalOutput{
    display: inline-block;
    background-color: #D9D9D9;
    padding: 0px 10px;
    border-radius: 8px;
}

#Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #961113;
    color: white;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    padding: 8px;
    letter-spacing: 1px;
}