body {
    padding-bottom: 60px;
}

#Title {
    text-align: center;
    font-family: "IBM Plex Mono";
    font-size: 64px;
}
#Hero {
    font-family: "IBM Plex Mono", monospace;
    text-align: center;
    margin-inline: 250px;
    font-size: 24px;
    
}

#Hero p {
    font-size: 20px;
    white-space: nowrap;
}

#Hero button {
    background-color: #ADADAD;
    border: none;
    border-radius: 15px;
    padding: 8px 16px;
    font-family: inherit;
    cursor: pointer;
}

#Hero button:hover {
    background-color: #999;
}

#Separator,#Separator2{
    display: flex;
    align-items: center;      /* vertically centers them */
    justify-content: center;  /* centers both items horizontally */
    gap: 30px;
}

hr {
  border: none;
  height: 2px;
  background-color: #ADADAD;
  width: 80%;
  margin: 20px auto;
}

#Table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    border-radius: 8px;
    overflow: hidden;
    border-spacing: 15px;
    border-collapse: separate;
    border-spacing: 10 10px;
}

#P1,#P2,#P3 {
    background-color: #ADADAD;
    font-weight: 300;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

#Table input {
    border: none;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
    outline: none;
}

#Table input[type="number"]::-webkit-inner-spin-button,
#Table input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
    margin: 0;
}

.Input{
    background-color: #F2F2F2;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

.Result{
    background-color: #F2F2F2;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

#OutputBottom{
    margin-top: 50px;
}

#Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #961113;
    color: white;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    padding: 8px;
    letter-spacing: 1px;
}